.desc-list {
  display: flex;
  margin-bottom: 50px;

  &__content{
      text-align: left;
  }

  &__item {
    margin-right: 30px;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon{
    margin-bottom: 25px;
  }

  &__subtitle {
    font-size: 26px;
    line-height: 36px;
    color: #77b900;
    margin-bottom: 11px;

    span {
      color: #fff;
    }
  }

  &__text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 28px;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .desc-list {
    flex-direction: column;

    &__content{
      text-align: center;
    }

    &__item {
      margin-right: 0;

      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
